
@{
    Layout = null;
}

<link href="~/css/success.css" rel="stylesheet" />

<div class="container">
    <div class="upper">Ödeme Başarılı</div>
    <div class="lower">Ödeme Başarılı</div>
    <div class="inside">İşleminiz Bankamız Tarafından Onaylanmıştır</div>
</div>